@import "bootstrap_variable_overrides";

@import "twitter/bootstrap";
@import "minstrel_font";
@import "font-awesome";

@import "header";
@import "sidebar";
@import "casts";
@import "apps";

#main {
  @extend .container;
}

.content {
  @extend .col-md-9;
}

.box-title {
  color: #FFF;
  display: inline-block;
  padding: 6px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 4px;
}

.embeded_cast iframe {
  border: 1px solid #333;
  margin-bottom: 15px;
  border-radius: 4px;
}
