!!! 5

%html
  %head
    %title Appcasts
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    %header
      .row
        .col-md-6
          %h1 AppCasts.io
        .col-md-6.sign-in
          sign in: &nbsp;&nbsp;
          =link_to root_path, class: 'twitter btn' do
            %i.icon-twitter
          =link_to root_path, class: 'github btn' do
            %i.icon-github
          =link_to root_path, class: 'google btn' do
            %i.icon-google-plus

    %section#main
      .row
        %section.content= yield
        %section.sidebar
          .sidebar-section
            %h3.box-title.info-title
              %i.icon-exclamation-sign
              stay informed!
            %p Create an account to be updated when new episodes are released.
            %p Don't worry: no spam, and you can opt out at any time.

          .sidebar-section
            %h3.box-title
              %i.icon-star
              new casts

          .sidebar-section
            %h3.box-title
              %i.icon-th-large
              the apps
